.result .top canvas{
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 40px;
    -webkit-transform: rotateZ(-90deg);
    -moz-transform: rotateZ(-90deg);
    -o-transform: rotateZ(-90deg);
    transform: rotateZ(-90deg);
}
.result .top .percent{
    position: absolute;
    top: 1em;
    margin-top: 40px;
    text-align: center;
    left: 0;
    right: 0;
    vertical-align: middle;
    line-height: 150px;
}